body {
	box-sizing: border-box;
	margin: 0;
}

#map-holder {
	width: 400px;
	height: 400px;
	overflow: hidden;
	position: relative;
}

#close-button {
	position: absolute;
	right: 0;
	top: 0;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	vertical-align: middle;
	font-size: 25px;
	font-weight: 800;
	background-color: cadetblue;
	border: none;
	cursor: pointer;
}

#close-button:hover {
	transform: scale(1.2);
}

svg {
	/* padding-top: 20px; */
	background: black;
}

.background {
	margin: 0;
	padding: 0;
	pointer-events: all;
}

.province {
	/* fill: #ccc; */
	cursor: pointer;
}

.province.active {
	fill: orange;
}

.mesh {
	/* fill: none; */
	stroke: rgba(199, 199, 199, 0.5);
	stroke-width: 0.05px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.provinceLabel {
	opacity: 0;
}

.provinceName {
	color: black;
}

.tooltip {
	transition: transform 1s;
}

.tooltip-container {
	border-radius: 5px;
	position: relative;
}

.tooltip-content {
	font-size: 11px;
	position: absolute;
}

.tooltip-content h1 {
	overflow: hidden;
	padding: 5px;
	background-color: white;
}

.dptos {
	stroke: green;
}

.localidad {
	visibility: hidden;
}
